/*
* @Author: lixinduan
* @Date:   2017-04-10 15:52:25
* @Last Modified by:   lixinduan
* @Last Modified time: 2017-05-08 18:39:09
*/
#editorWarpper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid gray;
    background: #fff;
}
#editor {
    height: 40%;
}